<template>
    <Page>
      <ActionBar>
        <GridLayout columns="40, *, 40">
          <Ripple color="white" @tap="openDrawer" col="0">
            <Label class="fa lblact action" :text="'fa-bars' | fonticon"  verticalAlignment="center" horizontalAlignment="left" />
          </Ripple>
          <GridLayout columns="50, *" col="1">
            <Image src="res://icon" col="0" width="30"/>
            <Label class="h2 lblact title" text="Random Pedia" col="1"/>
          </GridLayout>
          <Ripple color="white" col="2" v-show="hasSaved() && !displaySavedList" @tap="onTapSaved">
            <Label class="fa lblact action" :text="'fa-archive' | fonticon"  verticalAlignment="center" horizontalAlignment="left"/>
          </Ripple>
          <Ripple color="white" col="2" v-show="displaySavedList" @tap="onTapCancel">
            <Label class="fa lblact action" :text="'fa-random' | fonticon" verticalAlignment="center" horizontalAlignment="left"/>
          </Ripple>
        </GridLayout>
      </ActionBar>
      <RadSideDrawer ref="drawer">
        <StackLayout ~drawerContent class="sideStackLayout" backgroundColor="white">
            <StackLayout class="sideStackLayout" >
                <Ripple color="#777777" v-show="hasSaved() && !displaySavedList" @tap="onTapSaved">
                  <GridLayout columns="30, *" rows="50" >
                    <Label class="fa action menu" :text="'fa-archive' | fonticon" col="0" verticalAlignment="center" horizontalAlignment="center"/>
                    <Label text="Saved articles" class="sideLabel" col="1" verticalAlignment="center"></Label>
                  </GridLayout>
                </Ripple>
                <Ripple color="#777777" v-show="displaySavedList" @tap="onTapCancel">
                  <GridLayout columns="30, *" rows="50">
                    <Label class="fa action menu" :text="'fa-random' | fonticon" col="0" verticalAlignment="center" horizontalAlignment="center"/>
                    <Label text="Random articles" class="sideLabel" col="1" verticalAlignment="center"></Label>
                  </GridLayout>
                </Ripple>
                <Ripple color="#777777" v-show="!displaySavedList" @tap="randomizeItems">
                  <GridLayout columns="30, *" rows="50">
                    <Label class="fa action menu" :text="'fa-refresh' | fonticon" col="0" verticalAlignment="center" horizontalAlignment="center"/>
                    <Label text="Load new random articles" class="sideLabel" col="1" verticalAlignment="center"></Label>
                  </GridLayout>
                </Ripple>
                <Ripple color="#777777" @tap="showSettings">
                  <GridLayout columns="30, *" rows="50">
                    <Label class="fa action menu" :text="'fa-cogs' | fonticon" col="0" verticalAlignment="center" horizontalAlignment="center"/>
                    <Label text="Settings" class="sideLabel" col="1" verticalAlignment="center"></Label>
                  </GridLayout>
                </Ripple>
                <Ripple color="#777777" @tap="showHelp">
                  <GridLayout columns="30, *" rows="50">
                    <Label class="fa action menu" :text="'fa-question' | fonticon" col="0" verticalAlignment="center" horizontalAlignment="center"/>
                    <Label text="Help" class="sideLabel" col="1" verticalAlignment="center"></Label>
                  </GridLayout>
                </Ripple>
                <GridLayout>
                  <Label text="Improve your general knowledge learning random things" class="quote" textWrap="true" verticalAlignment="bottom" horizontalAlignment="center" textAlignment="center"/>
                </GridLayout>
            </StackLayout>
        </StackLayout>
        <StackLayout ~mainContent>
            <Messages />
            <WikiList ref="randomList" :items="wikiItems" :saved="false" v-show="!displaySavedList"/>
            <WikiList :items="wikiSaved" :saved="true" v-show="displaySavedList"/>
        </StackLayout>
      </RadSideDrawer>
    </Page>
</template>

<script>
import WikiList from "@/components/WikiList"
import wikiService from "@/helpers/WikiService"
import SettingsView from "@/components/Settings"
import HelpView from "@/components/Help"
import Messages from "@/components/Messages"
import messageService from "@/helpers/MessageService"

export default {
  data() {
    return {
      displaySavedList: false,
      ids: wikiService.ids,
      message: null
    };
  },
  created() {
    // Add a message to explain how the app works
    messageService.display({
        id: "infopullswipe",
        onlyonce: true,
        icon: "fa-info",
        text: "Welcome to Random Pedia, pull the list to get fresh random articles, swipe an item to the right to save it, to the left to reload it. Enjoy !"
    })
  },
  computed: {
    wikiItems() {
      return this.ids.filter(item => !item.saved)
    },
    wikiSaved() {
      return this.ids
        .filter(item => item.saved === true)
        .sort( // sort saved items by title
          (a, b) => {
            let ai = wikiService.wikis.find(wiki => wiki.id === a.id),
                bi = wikiService.wikis.find(wiki => wiki.id === b.id)
            if (ai === undefined && bi === undefined) return 0
            if (ai === undefined) return -1
            if (bi === undefined) return 1
            return ai.title ? ai.title.localeCompare(bi.title) : -1
        })
    }
  },
  components: { WikiList, Messages },
  methods: {
    hasSaved() {
      return wikiService.saved().length > 0
    },
    onTapSaved() {
      this.displaySavedList = true
      this.onCloseDrawerTap()
    },
    onTapCancel() {
      this.displaySavedList = false
      this.onCloseDrawerTap()
    },
    openDrawer() {
      if (this.$refs.drawer.nativeView.getIsOpen()) {
        this.$refs.drawer.nativeView.closeDrawer();
      } else {
        this.$refs.drawer.nativeView.showDrawer();
      }
    },  
    onCloseDrawerTap() {
      if (this.$refs.drawer.nativeView.getIsOpen()) {
        this.$refs.drawer.nativeView.closeDrawer();
      }
    },
    showHelp() {
      this.$navigateTo(HelpView)
    },
    showSettings() {
      this.$navigateTo(SettingsView)
    },
    randomizeItems() {
      this.$refs.randomList.randomizeAll()
      this.onCloseDrawerTap()
    }
  }
};
</script>

<style scoped>

</style>
