<template>
    <Page>
        <ActionBar>
            <GridLayout columns="40, *, 40">
                <Ripple color="white" @tap="goBack" col="0">
                    <Label class="fa lblact action" :text="'fa-arrow-left' | fonticon"  verticalAlignment="center" horizontalAlignment="left" />
                </Ripple>
                <GridLayout columns="50, *" col="1">
                    <Image src="res://icon" col="0" width="30"/>
                    <Label class="h2 lblact title" text=" Help" col="1"/>
                </GridLayout>
            </GridLayout>
        </ActionBar>
        <StackLayout>
            <GridLayout columns="20, *, 20">
                <WebView ref="webview" col="1" src="
                    <p style='text-align:justify;margin-top:30px;'><strong>Random Pedia home page</strong> displays a list of random articles from Wikipedia. You can reload the whole list and get fresh random articles by <strong>pulling on it from the top</strong> or through the menu.</p>
                    <p style='text-align:justify'>Each entry in the list displays the title of the article, an extract and a picture from the article if there is any. Tap on the title or extract to display the full extract. The button 'Read more...' allows you to <strong>read the original article from Wikipedia</strong>, the 'Pictures' button allows you to preview all pictures from the article</p>
                    <p style='text-align:justify'><strong>To save an article, swipe it to the right</strong>, the save button appears. To reload only an article and replace it by a new random one, swipe to the left.</p>
                    <p>Access your saved articles by tapping on the archive box on the top right hand corner or through the menu</p>
                    <p style='text-align:justify'>You can change the number of random articles to display and the language of the articles in the <strong>Settings page</strong></p>" />
            </GridLayout>
        </StackLayout>
    </Page>
</template>

<script>
import { WebView, LoadEventData } from "tns-core-modules/ui/web-view";

export default {
  data() {
    return {}
  },
  mounted() {
    var webView = this.$refs.webview._nativeView
    webView.on(WebView.loadStartedEvent, function (args) { 
        if (webView.android) {
            webView.android.getSettings().setBuiltInZoomControls(false);
            webView.android.getSettings().setDisplayZoomControls(false);
        } else {
            webView.ios.scrollView.minimumZoomScale = 1.0;
            webView.ios.scrollView.maximumZoomScale = 1.0;
            webView.ios.scalesPageToFit = false;
            webView.ios.scrollView.bounces = false;
        }
    });
  },
  methods: {
      goBack() {
          this.$navigateBack()
      }
  }
}
</script>

<style scoped>
Image {
    padding: 20
}
HtmlView {
    padding: 50
}
</style>
