<template>
    <Page>
      <GridLayout>
        <ImageSwipe :items="imagesObjLst" :pageNumber="pageNumber" imageUrlProperty="imageUrl" backgroundColor="#000000">
        </ImageSwipe>
    </GridLayout>
    </Page>
</template>

<script>
export default {
    data() {
        return {
            pageNumber: 0
        };
    },
    props: ["images"],
    computed: {
        imagesObjLst() {
            return this.images.map(url => { return {imageUrl: url} })
        }
    }
}
</script>

<style>

</style>
