<template>
    <StackLayout v-show="messages.length">
        <GridLayout class="p-10 messagelayout" v-for="message in messages" :key="message.id" columns="40, *, 30" rows="auto" v-if="message.text !== ''" :backgroundColor="message.bgcolor || '#d9edf7'">
            <Label class="fa action message" :text="(message.icon || 'fa-comment') | fonticon" col="0" verticalAlignment="center" horizontalAlignment="center" :color="message.color || '#31708f'"/> 
            <Label :text="message.text" textWrap="true" col="1" :color="message.color || '#31708f'"/>
            <Ripple @tap="disableMessage(message)" col="2" horizontalAlignment="center">
                <Label class="fa action message" :text="'fa-close' | fonticon" verticalAlignment="center"  :color="message.color || '#31708f'"/>
            </Ripple>
        </GridLayout>
    </StackLayout>
</template>

<script>
import messageService from "@/helpers/MessageService"

export default {
    name: "Messages",
    data() {
        return {
            messages: messageService.messages
        }
    },
    methods: {
        disableMessage(message) {
            messageService.disable(message)
        }
    }
}
</script>

<style>
</style>
