<template>
    <Page>
        <ActionBar>
            <GridLayout columns="40, *, 40">
                <Ripple color="white" @tap="goBack" col="0">
                    <Label class="fa lblact action" :text="'fa-arrow-left' | fonticon"  verticalAlignment="center" horizontalAlignment="left" />
                </Ripple>
                <GridLayout columns="50, *" col="1">
                    <Image src="res://icon" col="0" width="30"/>
                    <Label class="h2 lblact title" text="Settings" col="1"/>
                </GridLayout>
            </GridLayout>
        </ActionBar>
        <StackLayout class="settingslayout">
            <Label :text="'Choose the number of random articles to display on the home page (' + nb + '): '" textWrap="true" />
            <Slider class="m-t-20" v-model="nb" @valueChange="onNbChanged" minValue="1" maxValue="50" />
            <Label class="m-t-30" :text="'Choose the language in which the articles are loaded (' + curName + '): '" textWrap="true" />
            <ListPicker :items="languagesNames" :selectedIndex="langindex" @selectedIndexChange="onLangChanged" />
        </StackLayout>
    </Page>
</template>

<script>
import wikiService from "@/helpers/WikiService"
import {languages} from "@/helpers/languages"
export default {
  data() {
    return {
        nb: wikiService.nb,
        langindex: 0
    }
  },
  computed: {
      languagesNames() {
          return languages.map(
              lang => lang.name + (lang.localname != lang.name ? " (" + lang.localname + ")" : "")
          )
      },
      curName() {
          return languages[this.langindex] ? languages[this.langindex].name : "Unknown"
      }
  },
  mounted() {
      let curlang = wikiService.language
      let lngi = languages.findIndex(lang => lang.code === curlang)
      if (lngi !== undefined) {
        this.langindex = lngi
      }
  },
  methods: {
      goBack() {
          this.$navigateBack()
      },
      onNbChanged() {
          wikiService.setNbDisplay(this.nb)
          wikiService.keepNumberOfItems()
      },
      onLangChanged(args) {
          let picker = args.object;
          let code = languages[picker.selectedIndex] ? languages[picker.selectedIndex].code : "Unknown";
          wikiService.setCurrentLanguage(code)
      }
  }
}
</script>

<style>

</style>
