<template>
    <Page>
        <ActionBar>
            <GridLayout columns="40, *, 40">
                <Ripple color="white" @tap="goBack" col="0">
                    <Label class="fa lblact action" :text="'fa-arrow-left' | fonticon"  verticalAlignment="center" horizontalAlignment="left" />
                </Ripple>
                <GridLayout columns="50, *" col="1">
                    <Image src="res://icon" col="0" width="30"/>
                    <Label class="h2 lblact title" text="Random Pedia" col="1"/>
                </GridLayout>
            </GridLayout>
        </ActionBar>
        <StackLayout>
            <WebView ref="webview" :src="url" />
        </StackLayout>
    </Page>
</template>

<script>
import { WebView, LoadEventData } from "tns-core-modules/ui/web-view";

export default {
  data() {
    return {}
  },
  props: ["url"],
  mounted() {
    var webView = this.$refs.webview._nativeView
    webView.on(WebView.loadStartedEvent, function (args) { 
        if (webView.android) {
            webView.android.getSettings().setBuiltInZoomControls(false);
            webView.android.getSettings().setDisplayZoomControls(false);
        } else {
            webView.ios.scrollView.minimumZoomScale = 1.0;
            webView.ios.scrollView.maximumZoomScale = 1.0;
            webView.ios.scalesPageToFit = false;
            webView.ios.scrollView.bounces = false;
        }
    });
  },
  methods: {
      goBack() {
          this.$navigateBack()
      }
  }
}
</script>

<style>

</style>
