<template>
    <RadListView 
        ref="listview" 
        for="(r, i) in items"
        swipeActions="true" @itemSwipeProgressStarted="onSwipeStarted" @itemSwipeProgressChanged="onSwipeChanged"
        :pullToRefresh="!saved" @pullToRefreshInitiated="pullToRefresh"
        @itemTap="onItemTap"
        ><!-- when https://github.com/telerik/nativescript-ui-feedback/issues/351 will be fixed, remove itemTap event, the event will be fired from WikiItem and will be different depending on if the image is hit or the text -->
        <v-template>
            <WikiItem :item="getItem(r.id)" :ref="'wikiitem_' + i" v-if="getItem(r.id) !== undefined" />
        </v-template>
        <v-template name="itemswipe">
            <GridLayout columns="auto, *, auto" backgroundColor="#53ba82">
                <Ripple color="white" id="save-view" col="0" class="swipe-item left"
                            orientation="horizontal" @tap="saveForLater">
                    <Label class="fa action" :text="'fa-save' | fonticon" verticalAlignment="center" horizontalAlignment="center"/>
                </Ripple>
                <StackLayout id="reload-view" col="2" class="swipe-item right"
                            orientation="horizontal" textAlignment="right" v-if="!saved">
                    <Label text="Swipe to load another random" verticalAlignment="center"  textAlignment="right" textWrap="true"/>
                </StackLayout>
                <Ripple id="delete-view" col="2" class="swipe-item trash"
                            orientation="horizontal" @tap="deleteItem" textAlignment="right" v-else>
                    <Label class="fa action" :text="'fa-trash' | fonticon" verticalAlignment="center" textWrap="true" />
                </Ripple>
            </GridLayout>
        </v-template>
    </RadListView>
</template>

<script>
import WikiItem from "@/components/WikiItem"
import wikiService from "@/helpers/WikiService"
import messageService from "@/helpers/MessageService"

export default {
  data() {
    return {};
  },
  props: {
    saved: {
        type: Boolean
    },
    items: {
      type: Array
    }
  },
  components: { WikiItem },
  name: "WikiList",
  mounted() {
  },
  computed: {
  },
  methods: {
    getItem(id) {
        return wikiService.wikis.find(wiki => wiki.id === id)
    },
    onSwipeStarted (args) {
        const swipeLimits = args.data.swipeLimits;
        const swipeView = args.object;
        if (this.saved) {
            const rightItem = swipeView.getViewById('delete-view');
            swipeLimits.left = 0
            swipeLimits.right = rightItem.getMeasuredWidth();
            swipeLimits.threshold = rightItem.getMeasuredWidth() / 2;
        } else {
            const leftItem = swipeView.getViewById('save-view');
            const rightItem = swipeView.getViewById('reload-view');
            swipeLimits.left = leftItem.getMeasuredWidth();
            swipeLimits.right = rightItem.getMeasuredWidth();
            swipeLimits.threshold = leftItem.getMeasuredWidth() / 2;
            
            // item is responsible for executing action here
            this.$refs['wikiitem_' + args.index].onSwipeStarted(args)
        }
    },
    onSwipeChanged(args) {
        if (!this.saved) {
            // item is responsible for executing action here
            let done = this.$refs['wikiitem_' + args.index].onSwipeChanged(args)
            if (done) {
                this.$refs.listview.notifySwipeToExecuteFinished()
            }
        }
    },
    onItemTap(args) {
        this.$refs['wikiitem_' + args.index].onTap()
    },
    saveForLater ({ object }) {
        wikiService.saveItemForLater(object.bindingContext)
        this.$refs.listview.notifySwipeToExecuteFinished();

        // Add a message to explain how the app works --> how to view saved items
        messageService.display({
            id: "infoarchived",
            onlyonce: true,
            icon: "fa-info",
            text: "You just saved an article ! Click on the archive box in the top right hand corner to view saved articles."
        })
    },
    pullToRefresh({ object }) {
      // Bug https://github.com/telerik/nativescript-ui-feedback/issues/64
      // if notifyPullToRefreshFinished is deferred, never ends
      this.randomizeAll().then(() => {
        object.notifyPullToRefreshFinished();
      });
    },
    randomizeAll() {
        return wikiService.randomizeAll()
    },
    deleteItem({ object }) {
        wikiService.deleteItem(object.bindingContext)
        this.$refs.listview.notifySwipeToExecuteFinished();
    },
  }
}
</script>

<style scoped>
.error {
  color: #ffaaaa;
}
.loading {
  color: #aaaaaa;
}
</style>
