<template>
    <GridLayout columns="50, *" rows="*" class="item">
        <ActivityIndicator color="#53ba82" busy="true" v-if="item.state==='loading' || !thumbLoaded" width="30">
        </ActivityIndicator>
        <Image :src="thumb" col="0" class="thumbnail" @tap="openGallery" v-if="item.state==='loaded' && thumbLoaded" />
        <Label class="fa action error" :text="'fa-close' | fonticon" col="0" v-if="item.state==='error'" horizontalAlignment="center" verticalAlignment="center" />
        <StackLayout col="1" @tap="onTap" v-if="item.state==='loaded'">
            <label :text="item.title" class="h2" />
            <label :text="item.description" class="p" :textWrap="wrapText ? 'true' : 'false'" />
            <GridLayout columns="*,*" rows="*" v-show="bigpictures.length">
                <button col="0" text="Read more..." v-if="wrapText" @tap="readMore"/>
                <button col="1" text="Pictures" v-if="wrapText" @tap="openGallery"/>
            </GridLayout>
            <button text="Read more..." v-if="wrapText && bigpictures.length === 0" @tap="readMore" />
        </StackLayout>
        <StackLayout col="1" v-if="item.state==='loading'">
            <label text="Loading..." class="h2" />
        </StackLayout>
        <StackLayout col="1" v-if="item.state==='error'">
            <label text="Error, check your connection" class="p error" />
        </StackLayout>
    </GridLayout>
</template>

<script>
import WikipediaView from "@/components/WikipediaView"
import ImageModal from "@/components/ImageModal"
import wikiService from "@/helpers/WikiService"

const imageSourceModule = require("tns-core-modules/image-source");
const image_min_wh = 50

export default {
    data() {
        return {
            wrapText: false,
            swiped: false,
            realImages: [],
            thumbLoaded: false
        };
    },
    props: ["item"],
    name: "WikiItem",
    computed: {
        title() {
            return this.item.title
        },
        bigpictures() {
            return this.realImages.filter(
                obj => obj.original !== undefined && obj.original.indexOf(".svg") !== obj.original.length - 4 // the imageswipe plugin does not display svg files...
            ).map(obj => obj.original)
        },
        thumb() {
            return this.realImages.length > 0 ? this.realImages[0].thumb : "https://en.wikipedia.org/static/images/project-logos/enwiki.png"
        }
    },
    created() {
        this.loadRealImages()
    },
    watch: {
        title() {
            this.loadRealImages()
            this.swiped = false
        }
    },
    methods: {
        openGallery() {
            this.$showModal(ImageModal, { props: {
                images: this.bigpictures
            }})
        },
        onTap() {
            this.wrapText = !this.wrapText
        },
        onSwipeStarted ({ data, object, index }) {
            this.swiped = false
        },
        onSwipeChanged({data, object, index}) {
            const swipeView = object;
            const rightItem = swipeView.getViewById('reload-view');
            if (data.x <= -rightItem.getMeasuredWidth() && !this.swiped) {
                this.swiped = true
                let self = this
                this.loadRandom()
                return true
            }
            return false
        },
        readMore() {
            this.$navigateTo(WikipediaView, {props: {url: this.item.url}})
        },
        loadRandom() {
            let self = this
            return wikiService.randomizeItem(this.item)
        },
        loadRealImages() {
            this.thumbLoaded = false
            this.realImages = []
            let self = this
            if (this.item.images && this.item.images.length > 0) {
                this.item.images.reduce(function(p, objimgs) {
                    if (objimgs === undefined || !objimgs.thumb) return Promise.resolve()
                    return p
                        .then(() => imageSourceModule.fromUrl(objimgs.thumb))
                        .then((imageSource) => {
                            if (imageSource.width > image_min_wh || imageSource.height > image_min_wh) {
                                self.realImages.push(objimgs)
                                self.thumbLoaded = true
                            }
                            return Promise.resolve()
                        })
                }, Promise.resolve()).then(function(result) {
                    self.thumbLoaded = true
                    // all images loaded
                    wikiService.updateItemImages({item: self.item, images: self.realImages})
                }, function(err) {
                    self.thumbLoaded = true
                    console.log("Error ", err)
                });
            } else {
                this.thumbLoaded = true
            }
        }
    }
}
</script>

<style>

</style>
