// NativeScript core theme
// @see https://docs.nativescript.org/ui/theme
@import '~nativescript-theme-core/scss/grey';

// Override variables here

@import '~nativescript-theme-core/scss/index';

// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling

.fa {
  font-family: FontAwesome;
}

ActionBar {
    background-color: #53ba82;
}
Button {
  background-color: #53ba82;
  color: white;
}

.title {
  font-weight: bold;
}
.lblact {
  color: #ffffff;
}
.action {
  font-size: 24;
}
.action.menu {
  font-size: 16;
  padding-left:10;
}
.action.message, .action.error {
  font-size: 16;
}

.messagelayout {
  border-bottom-color: #bcdff1;
  border-bottom-width: 1;
}
.quote {
  color: #888888;
  font-style: italic;
  font-size: 16;
  padding-bottom:10;
}

.page {
  align-items: center;
  flex-direction: column;
}

.action-bar {
  height: 50;
}

.item {
  padding: 10;
  background-color: white;
  border-color: $grey;
  border-bottom-width: 1;
  border-bottom-style: solid;
}
.big {
  font-size: 20;
}

.thumbnail {
  margin-right: 10;
}

.swipe-item {
  color: white;
  padding: 16;
}

.swipe-item.left {
  background-color: #888888;
}

.swipe-item.right {
  background-color: #53ba82;
  text-align: right;
}

.swipe-item.trash {
  background-color: #cc5555;
  text-align: right;
}

.drawer {
  padding: 10;
  background-color: #333366;
}

.sideLabel {
  font-size:16;
  padding: 10;
}
.settingslayout {
  padding: 20;
}
Slider {
  color: #53ba82;
  background-color: #53ba82;
}

.error {
  color: #cc5555
}